Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On

RewriteBase /comp353
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?__X_REQUEST_URI__=$1 [QSA,L]